@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    background: #ECF2F8;
}

.card-container{
    display: flex;
    width: 730px;
}

.content-container{
    padding: 32px;
}

.content-title h2{
    color: #48556A;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.25px;
}

.content{
    margin-top: 12px;
}

.content p{
    color: #6E8098;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.122px;
}

.person-container{
    margin-top: 20px;
    display: flex;
}

.person-profile-pic{
    margin-right: 16px;
}

.person-name{
    color: #48556A;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.122px;
}

.date{
    color: #9DAEC2;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.122px;
}